.black-box {
    padding: var(--pad32);
    border-radius: 20px;
    background-color: #1A1C20;
    color: white;

    min-height: 312px;
    min-width: 364px;

    display: grid;
    align-content: space-between;
}

@media (max-width: 1439px) {
    .black-box {
        width: 100%;
        min-height: initial;
        gap: 20px;
        min-height: initial;
        min-width: initial;
    }
}

.black-box__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black-box__price {
    display: grid;
    gap: var(--gap12);
}

.black-box__price-text {
    padding: 4px;
    border-radius: 8px;
    background-color: #26292F;
}