.circle-icon {
    width: 191px;
    height: 192px;
    display: grid;
    place-content: center;
    background-color: var(--accent);
    border-radius: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.circle-icon img {
    width: 119px;
    height: 119px;
    object-fit: contain;
}

.circle-icon--invovic {
    top: 50%;
    right: 10%;
}

.circle-icon--kbase {
    top: 40%;
    right: 5%;
}