.faq__items {
    color: #2A3D58;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--gap16);
    column-gap: var(--gap40);
}

.faq__item {
    background-color: white;
    border-radius: 16px;
    padding-inline: var(--pad20);
    padding-block: var(--pad16);
    height: max-content;
}

.faq__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap40);
}

.faq__content {
    line-height: 175%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.faq__item--active .faq__content {
    height: initial;
    opacity: 1;
    margin-top: 20px;
}


.faq__title::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(/images/icons/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.faq__item--active .faq__title::after {
    background-image: url(/images/icons/minus.svg);
}