.number-card {
    display: grid;
    gap: var(--gap12);
    color: var(--heading);
    /* grid-auto-rows: max-content; */
    /* height: max-content; */
}

.number-card__title {
    white-space: nowrap;
}

.number-card__title--fix {
    width: 200px;
}

.number-card__subtitle {
    white-space: nowrap;
}

.number-cards {
    display: flex;
    gap: var(--gap40);
    height: max-content;
}

.number-cards--factory .number-card__title {}

.number-cards--catalog {}

.number-card--heading {
    background-color: var(--heading);
    padding: var(--pad20);
    color: white;
    border-radius: 16px;
    width: 100%;
    max-width: 270px;
}

.number-card--fluid {
    width: 100%;
    max-width: 100%;
}

.number-card--heading .number-card__subtitle {
    white-space: wrap;
}

.number-cards__items {
    display: grid;
    gap: var(--gap40);
    max-width: 400px;
}