.section {
    /* overflow: hidden; */
}

.section__title {
    color: var(--heading);
    max-width: 896px;
}

.section__title .accent {
    color: var(--accent);
}

.section__title--catalog {
    display: grid;
}

.section__left,
.section__right {
    width: 50%;
}


@media (max-width: 1439px) {

    .section__left,
    .section__right {
        width: 50%;
    }

}


@media (max-width: 600px) {

    .section__left,
    .section__right {
        width: 100%;
    }

    .invovic .section__left {
        order: 1;
    }
}

.section--offer {
    padding-inline: var(--pad92);
    display: flex;
    gap: var(--gap12);
    justify-content: space-between;
}

@media (max-width: 1439px) {
    .section--offer {
        flex-wrap: wrap;
    }
}

.section--catalog {
    padding-inline: var(--pad92);
    display: grid;
    gap: var(--gap60);
}


.section__left--offer {
    display: grid;
    gap: var(--gap60);
}

.section__wrapper--catalog {
    display: flex;
    gap: var(--gap12);
    justify-content: space-between;
}

@media (max-width: 1439px) {
    .section__wrapper--catalog {
        flex-wrap: wrap;
    }
}

.section__right--catalog {
    width: max-content;
}

@media (max-width: 1439px) {

    .section__right--catalog {
        width: 100%;
    }
}

.section--form {
    padding-top: 88px;
    padding-bottom: 66px;
    padding-inline: var(--pad92);
    background-color: var(--heading);
    display: grid;
    gap: var(--gap40);
}

@media (max-width: 1439px) {
    .section--form {
        padding-top: 58px;
        padding-bottom: 60px;
    }
}

.section__title--form {
    color: white;
    max-width: 100%;
}

.section--calculator {
    background-color: var(--line2);
    padding-inline: var(--pad92);
    padding-block: var(--pad120);
    display: grid;
    gap: var(--gap40);
}

@media (max-width: 1439px) {
    .section--calculator {
        gap: 8px;
    }
}

.section__wrapper--calculator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.section--video {
    padding-inline: var(--pad92);
}

.section--about {
    padding-inline: var(--pad92);
    display: flex;
    gap: var(--gap40);
}

@media (max-width: 1439px) {
    .section--about {
        flex-wrap: wrap;
    }
}

.section__left--about {
    display: grid;
    gap: var(--gap40);
}

@media (max-width: 1439px) {
    .section__left--about {
        grid-auto-rows: max-content;
    }
}

.section__right--about {
    display: grid;
    gap: var(--gap20);
}

.section--supplies {
    padding-inline: var(--pad92);
    display: flex;
    gap: var(--gap40);
    justify-content: space-between;
    flex-wrap: wrap;
}

.section__left--supplies {
    display: grid;
    gap: var(--gap20);
    grid-auto-rows: max-content;
    align-content: space-between;
    max-width: 720px;
}

.section__right--supplies {
    max-width: 800px;
}

.section--certificate {
    padding-inline: var(--pad92);
    padding-block: var(--pad60);
    background-color: var(--line2);
    display: flex;
    gap: var(--gap40);
    justify-content: space-between;
}

@media (max-width: 1439px) {
    .section--certificate {
        flex-wrap: wrap;
    }
}

.section__right--certificate {
    display: flex;
    gap: var(--gap40);
    align-items: center;
    flex-wrap: wrap;
}

.section--faq {
    padding-inline: var(--pad92);
    padding-top: var(--pad60);
    padding-bottom: var(--pad120);
    background-color: var(--line2);
    display: grid;
    gap: var(--gap40);
}

.section__header {
    display: flex;
    gap: var(--gap20);
}

.section__header-tag {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding: 6px 12px;
    border-radius: 99px;
    background-color: white;
    height: max-content;
}

@media (max-width: 1439px) {
    .section__header-tag {
        font-size: 10px;
    }
}

.section__wrapper--flex {
    display: flex;
    gap: var(--gap20);
}

@media (max-width: 1439px) {
    .section__wrapper--flex {
        flex-wrap: wrap;
    }
}

.section__wrapper--grid {
    display: grid;
    gap: var(--gap12);
    position: relative;
}


@media (max-width: 1439px) {
    .section__wrapper--grid {
        width: 100%;
    }


    .kbase .section__wrapper--grid,
    .ktop .section__wrapper--grid {
        order: 1;
    }
}

.section__left--brand {
    position: relative;
    display: flex;
    gap: var(--gap20);
    height: max-content;
}

@media (max-width: 1439px) {
    .section__left--brand {
        flex-wrap: wrap;
    }
}

.section__left--padding-top {
    padding-top: 100px;
}

.section--brand {
    padding-inline: var(--pad92);
    display: grid;
    gap: var(--gap32);
}


@media (max-width: 1439px) {
    .section--brand {
        /* overflow: hidden; */
    }

    .section--brand .button[data-action="popup-get-catalog"] {
        width: 100%;
    }
}


.section--factory {
    padding-inline: var(--pad92);
    display: flex;
    gap: var(--gap20);
}

@media (max-width: 1439px) {
    .section--factory {
        flex-wrap: wrap;
    }
}

.section__right--brand {
    display: grid;
    gap: var(--gap20);
    position: relative;
}

.section__left--factory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap12);
}

@media (max-width: 1439px) {
    .section__left--factory {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.section__right--factory {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--gap20);
}

@media (max-width: 1439px) {
    .section__right--factory {
        grid-template-columns: 1fr;
    }
}

.section__left--grid {
    display: grid;
    gap: var(--gap40);
}

.section__right--cards {
    display: grid;
    gap: var(--gap20);
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1439px) {
    .section__right--cards {
        grid-template-columns: 1fr;

    }
}

.section--page {
    display: grid;
    gap: var(--gap40);
    padding-inline: var(--pad92);
}

.section__image {
    width: 100%;
    height: 100%;
}

.section__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section__inner {
    display: grid;
    gap: 8px;
}

@media (max-width: 1439px) {
    .section__inner {
        display: flex;
        justify-content: space-between;
    }
}