.video {
    display: grid;
    gap: 20px;
    flex-shrink: 0;
    width: 100%;
    max-width: 1732px;
    max-height: 714px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}

.video__content {
    /* max-width: 680px; */
    width: 100%;
    height: 100%;
}

.video__content::after {
    /* content: ''; */
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); */
}

.video__content.no-after::after {
    content: none;
}

.video__content video {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.video__button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 134px;
    display: grid;
    place-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    background-image: url(/images/icons/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

@media (max-width: 1439px) {
    .video__button-play {
        width: 40px;
        height: 40px;
        background-size: 12px;

    }
}