<div class="section section--about" hidden>
  <div class="section__left section__left--about">
    <h2 class="section__title">О компании</h2>
    <div class="about">
      <div class="about__logo">
        <img src="./images/logo.svg" alt="" />
      </div>

      <div class="about__info">
        <div class="about__text">
          <div class="about__year">
            <span class="about__year-number">2015</span
            ><span class="about__year-text text16">год основания</span>
          </div>
          <p class="title16">
            Международная корпорация KZMall успешно развивается на мировом рынке
            автозапчастей. И предлагает российскому потребителю надежные решения
            для автомобилей.
          </p>
        </div>

        <div class="about__images">
          <div class="about__image">
            <img src="./images/partners/img1.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img2.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img3.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img4.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img5.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img6.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img7.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img8.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img9.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/partners/img10.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__right section__right--about">
    <div class="info-cards info-cards--about">
      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/ok.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Надежность</h5>
          <p class="text14 info-card__subtitle">
            Строгий контроль качества на всех этапах производства для стабильной
            работы и безопасности
          </p>
        </div>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/durability.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Долговечность</h5>
          <p class="text14 info-card__subtitle">
            Премиальные материалы и передовые технологии обеспечивают длительный
            срок службы.
          </p>
        </div>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/snowflake.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Проверено</h5>
          <p class="text14 info-card__subtitle">
            Продукция протестирована в суровых климатических условиях России и
            СНГ
          </p>
        </div>
      </div>
    </div>

    <div class="info-cards info-cards--about">
      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/globus.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Глобальные поставки</h5>
          <p class="text14 info-card__subtitle">
            Продукция экспортируется в 160+ стран и получила высокие оценки
            партнеров
          </p>
        </div>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/waranty.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Гарантированное качество</h5>
          <p class="text14 info-card__subtitle">
            Международные сертификаты: подтверждают соответствие мировым
            стандартам
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
