<div class="section advantages" hidden>
  <div class="info-cards">
    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/quality.svg" alt="" />
      </div>

      <div class="info-card__content">
        <h5 class="h5 info-card__title">Экономия до 40%</h5>
        <p class="text16 info-card__subtitle">
          Наши аналоги значительно дешевле оригинальных деталей, но
          соответствуют европейским стандартам качества
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/delivery.svg" alt="" />
      </div>

      <div class="info-card__content">
        <h5 class="h5 info-card__title">Быстрая доставка</h5>
        <p class="text16 info-card__subtitle">
          90% позиций — на складе в Москве. Отгрузка в день обращения. Доставим
          1-2 дня по Москве и МО. 3-5 дней по России. Никаких 1–3 месяцев
          ожидания!
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/checklist.svg" alt="" />
      </div>

      <div class="info-card__content">
        <h5 class="h5 info-card__title">Легальность и прозрачность</h5>
        <p class="text16 info-card__subtitle">
          Полный пакет документов: сертификаты соответствия ТР ТС, подтверждение
          происхождения товара. Работаем в рамках федерального закона от
          28.06.2022 № 213-ФЗ о параллельном импорте
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/guarantee.svg" alt="" />
      </div>

      <div class="info-card__content">
        <h5 class="h5 info-card__title">Гарантия качества</h5>
        <p class="text16 info-card__subtitle">
          Даём гарантию 6 мес. на все товары. Возврат и обмен в течение 14 дней
          согласно закону. Если брак, меняем без вопросов.
        </p>
      </div>
    </div>
  </div>
</div>
