<div class="section brands" hidden>
  <h2 class="h2 section__title">
    Решаем проблему дефицита запчастей для европейских, японских и ушедших с
    рынка брендов
  </h2>

  <div class="brands-items horizontal-scroll">
    <div class="brand-item">
      <img src="./images/brands/audi.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/chevrolet.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/hyundai.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/kia.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/lexus.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/nissan.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/toyota.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/bmw.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/honda.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/jeep.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/land-rover.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/mercedes.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/renault.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/audi.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/chevrolet.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/hyundai.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/kia.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/lexus.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/nissan.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/toyota.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/bmw.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/honda.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/jeep.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/land-rover.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/mercedes.svg" alt="" />
    </div>
    <div class="brand-item">
      <img src="./images/brands/renault.svg" alt="" />
    </div>
  </div>
</div>
