<div class="section calculator section--calculator">
  <div class="section__wrapper section__wrapper--calculator">
    <h2 class="section__title">
      Посмотрите какую прибыль вы теряете каждый месяц
    </h2>
    <span class="text16 section__subtitle"
      >За пример взяты тормозные колодки (передние) для Haval Jolion 1.5T</span
    >
  </div>

  <div class="calculator__row">
    <div class="box box--flex">
      <div class="black-box">
        <h5 class="black-box__title">Стоимость</h5>
        <div class="black-box__prices">
          <div class="black-box__price">
            <h4 class="black-box__price-summa" data-calc="opt">1 399 ₽</h4>
            <span class="title14 black-box__price-text">Опт</span>
          </div>
          <div class="black-box__price">
            <h4 class="black-box__price-summa" data-calc="price">1 745 ₽</h4>
            <span class="title14 black-box__price-text"
              >Рекомендуемая цена</span
            >
          </div>
        </div>
      </div>

      <div class="black-box">
        <div class="range">
          <p class="text14 rang__title">
            Укажите среднее количество услуг по смене тормозных колодок в месяц
          </p>
          <input
            type="range"
            name="range1"
            id=""
            min="10"
            max="150"
            step="1"
            value=""
          />
          <div class="range__scale">
            <span class="range__scale-item">10</span>
            <span class="range__scale-item">20</span>
            <span class="range__scale-item">30</span>
            <span class="range__scale-item">40</span>
            <span class="range__scale-item">50</span>
            <span class="range__scale-item">60</span>
            <span class="range__scale-item">70</span>
            <span class="range__scale-item">80</span>
            <span class="range__scale-item">90</span>
            <span class="range__scale-item">100</span>
            <span class="range__scale-item">110</span>
            <span class="range__scale-item">120</span>
            <span class="range__scale-item">130</span>
            <span class="range__scale-item">140</span>
            <span class="range__scale-item">150</span>
          </div>
        </div>

        <div class="range">
          <p class="text14 rang__title">
            Укажите количества месяцев для расчета
          </p>
          <input type="range" name="range2" id="" min="1" max="12" step="1" />
          <div class="range__scale">
            <span class="range__scale-item">1</span>
            <span class="range__scale-item">2</span>
            <span class="range__scale-item">3</span>
            <span class="range__scale-item">4</span>
            <span class="range__scale-item">5</span>
            <span class="range__scale-item">6</span>
            <span class="range__scale-item">8</span>
            <span class="range__scale-item">9</span>
            <span class="range__scale-item">10</span>
            <span class="range__scale-item">11</span>
            <span class="range__scale-item">12</span>
          </div>
        </div>
      </div>
    </div>

    <div class="box box--grid">
      <div class="box__icon">
        <img src="./images/icons/coins.svg" alt="" />
      </div>

      <div class="box__wrapper">
        <h5 class="box__title">Ваша упущенная выгода</h5>
        <div class="box__summa" data-calc="result">34 600 ₽</div>
      </div>
    </div>
  </div>

  <div class="box box--flex">
    <h5 class="box__title">Получите оптовый прайс на запчасти прямо сейчас</h5>
    <button class="button button--white" data-action="popup-get-catalog">
      <img src="./images/icons/download--white.svg" alt="" /> Получить прайс
    </button>
  </div>
</div>
