<div class="section catalog section--catalog">
  <div class="section__wrapper section__wrapper--catalog">
    <div class="section__left">
      <h2 class="section__title section__title--catalog">
        <span>Аналоги запчастей от Kzmall</span>
        <span class="accent"
          >со скидкой до 40% и доставкой по РФ от 48 часов</span
        >
      </h2>
    </div>

    <div class="section__right section__right--catalog">
      <div class="number-cards">
        <div class="number-card">
          <span class="number60 number-card__title">15 000+</span>
          <span class="text16">товаров в наличии</span>
        </div>
        <div class="vr"></div>
        <div class="number-card">
          <span class="number60 number-card__title">100 000+</span>
          <span class="text16">единиц товаров на складе в Москве</span>
        </div>
      </div>
    </div>
  </div>

  <div class="catalog__items">
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog01.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand catalog__item-brand--accent"
            >KTOP</span
          >
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog02.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand catalog__item-brand--accent"
            >KTOP</span
          >
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog03.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand catalog__item-brand--accent"
            >KBASE</span
          >
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog04.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KZWON</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog05.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KZWON</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog06.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand catalog__item-brand--accent"
            >KLONG</span
          >
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog07.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KTOP</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog08.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KTOP</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog09.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KTOP</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog10.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KTOP</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog11.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KTOP</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
    <div class="catalog__item">
      <div class="catalog__item-top">
        <img src="./images/catalog/catalog12.png" alt="" />
        <div class="catalog__item-wrapper">
          <span class="catalog__item-brand">KTOP</span>
          <span class="catalog__item-tag">Официальный дистрибьютор</span>
        </div>
      </div>
      <h4 class="catalog__item-chapter">Автосвет</h4>
    </div>
  </div>
</div>
