<div class="section certificate section--certificate" hidden>
  <div class="section__left">
    <div class="certificate__image">
      <img src="./images/certificate.png" alt="" />
    </div>
  </div>
  <div class="section__right section__right--certificate">
    <div class="certificate__text">
      <h4 class="section__title">
        Мы являемся официальным представителем корпорации KZMall в РФ
      </h4>
      <p>
        У нас полный пакет документов на каждую партию: сертификат соответствия
        ТР ТС, документы о происхождении товара. Это не “серый” товар, а
        легально ввезённая продукция. Вы можете предоставить эти документы
        любому проверяющему органу и своему клиенту как подтверждение
        подлинности
      </p>
    </div>
    <div class="red-box red-box--certificate">
      <h5 class="red-box__title">
        Мы даём гарантию подлинности и готовы заменить брак
      </h5>
    </div>
  </div>
</div>
