<div class="cookies">
  <p>
    На сайте используются cookies-файлы, которые помогают показывать Вам самую
    актуальную информацию. Продолжая пользоваться сайтом, Вы даете согласие на
    использование ваших данных и cookies-файлов.
    <a href="">Подробнее о правилах использования cookies</a>
  </p>

  <button class="button button--accent" data-action="accept-cookies">
    Принять
  </button>
</div>
