<div class="section faq section--faq" hidden>
  <h2 class="section__title">Вопросы, которые обычно задают</h2>

  <ul class="faq__items">
    <li class="faq__item faq__item--active">
      <h5 class="faq__title">
        Китайские запчасти — это подделка, они быстро ломаются
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <h5 class="faq__title">
        Мы опасаемся, что китайские аналоги могут привести к повторным
        обращениям клиентов
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <h5 class="faq__title">
        Мы опасаемся, что китайские аналоги могут привести к повторным
        обращениям клиентов
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <h5 class="faq__title">
        Мы опасаемся, что китайские аналоги могут привести к повторным
        обращениям клиентов
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <h5 class="faq__title">
        Мы опасаемся, что китайские аналоги могут привести к повторным
        обращениям клиентов
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <h5 class="faq__title">
        Мы опасаемся, что китайские аналоги могут привести к повторным
        обращениям клиентов
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <h5 class="faq__title">
        Мы опасаемся, что китайские аналоги могут привести к повторным
        обращениям клиентов
      </h5>
      <div class="faq__content">
        <p class="text16">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем
          сертификаты качества (ISO, ТР ТС) и гарантию возврата/обмена.
          Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall
          — ресурс составил 30 000 км без нареканий.
        </p>
      </div>
    </li>
  </ul>
</div>
