<div class="footer">
  <div class="footer__top">
    <div class="footer__logo">
      <img src="./images/logo.svg" alt="" />
    </div>

    <div class="footer__wrapper">
      <div class="footer__inner">
        <div class="footer__phones">
          <a href="tel:+79772757797" class="phone">+7 (977) 275-77-97</a>
          <a href="tel:+79151405004" class="phone">+7 (915) 140-50-04</a>
        </div>

        <a href="mailto:Avtobazrf@mail.ru" class="footer__mailto"
          >Avtobazrf@mail.ru</a
        >

        <div class="footer__social">
          <a href="" class="social social--whatsapp"
            ><img
              src="./images/icons/instagram--gray.svg"
              alt=""
              class="social-image"
          /></a>
          <a href="" class="social social--telegram"
            ><img
              src="./images/icons/telegram--gray.svg"
              alt=""
              class="social-image"
          /></a>
          <a href="" class="social social--max"
            ><img
              src="./images/icons/max--gray.svg"
              alt=""
              class="social-image"
          /></a>
        </div>
      </div>

      <button class="button button--download" data-action="popup-get-catalog">
        <img src="./images/icons/download.svg" alt="" />Получить оптовый прайс
      </button>
    </div>
  </div>
  <hr class="line" />
  <div class="footer__bottom">
    <div class="footer__who">
      <p class="text14">© 2026. ИП Онай Т.А.</p>
      <p class="text14">ИНН 614045016762</p>
    </div>

    <div class="footer__links">
      <a class="footer__link" href="">Политика конфиденциальности</a>
      <a class="footer__link" href="">Пользовательское соглашение</a>
      <a class="footer__link" href="">Cookies</a>
    </div>
  </div>
</div>
