<div class="header">
  <div class="header__logo">
    <img src="./images/logo.svg" alt="" class="header__logo-image" />
    <h6 class="h6 header__logo-title" hide-on-mobile>
      Автозапчасти достойные внимания
    </h6>
  </div>

  <div class="header__wrapper" hide-on-mobile>
    <div class="header__phones">
      <a href="tel:+79772757797" class="phone">+7 (977) 275-77-97</a>
      <a href="tel:+79151405004" class="phone">+7 (915) 140-50-04</a>
    </div>

    <div class="header__socials">
      <a href="" class="social social--whatsapp"
        ><img src="./images/icons/whatsapp.svg" alt="" class="social-image"
      /></a>
      <a href="" class="social social--telegram"
        ><img src="./images/icons/telegram.svg" alt="" class="social-image"
      /></a>
      <a href="" class="social social--max"
        ><img src="./images/icons/max.svg" alt="" class="social-image"
      /></a>
    </div>

    <button class="button button--download" data-action="popup-get-catalog">
      <img src="./images/icons/download.svg" alt="" />Получить оптовый прайс
    </button>
  </div>
</div>
