<div class="hero">
  <div class="hero__bg"></div>

  <div class="hero__left">
    <h1 class="hero__title">
      <span class="hero__title--accent">Стань дилером,</span>
      <span>заработай от 40 до 50% без потери качества</span>
    </h1>

    <h3 class="h3 hero__subtitle">
      Сертифицированные детали от завода Kzmall, в соответствии с европейскими
      стандартами. Экономьте без компромиссов!
    </h3>

    <div class="hero__wrapper">
      <button
        class="button button--accent button--pad20"
        data-action="popup-get-catalog"
      >
        Получить каталог товаров и оптовые прайсы
      </button>

      <p class="title16">
        Продавайте с выгодой до 40% или предложите клиенту выгодную цену
      </p>
    </div>
  </div>

  <div class="hero__right">
    <div class="swiper heroSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__slide">
            <div class="hero__info-list">
              <div class="hero__info">
                <span class="title14--bold">Выгода</span>
                <h2 class="h2">2 954,68 ₽</h2>
              </div>

              <div class="hero__info">
                <h2 class="h2">35%</h2>
                <span class="title14--bold">Маржинальность</span>
              </div>
            </div>
            <div class="price-card">
              <div class="price-card__image">
                <img src="./images/brake-disk.png" alt="" />
              </div>

              <h4 class="price-card__title">
                Тормозные диски Land Cruiser Prado
              </h4>

              <div class="price-card__item">
                <span class="title14">Опт</span>
                <span class="h4">5 371,58 ₽</span>
              </div>

              <div class="price-card__item">
                <span class="title14">Рекомендуемая цена</span>
                <span class="h4">8 326,26 ₽</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__slide">
            <div class="hero__info-list">
              <div class="hero__info">
                <span class="title14--bold">Выгода</span>
                <h2 class="h2">2 954,68 ₽</h2>
              </div>

              <div class="hero__info">
                <h2 class="h2">35%</h2>
                <span class="title14--bold">Маржинальность</span>
              </div>
            </div>
            <div class="price-card">
              <div class="price-card__image">
                <img src="./images/brake-disk.png" alt="" />
              </div>

              <h4 class="price-card__title">
                Тормозные диски Land Cruiser Prado
              </h4>

              <div class="price-card__item">
                <span class="title14">Опт</span>
                <span class="h4">5 371,58 ₽</span>
              </div>

              <div class="price-card__item">
                <span class="title14">Рекомендуемая цена</span>
                <span class="h4">8 326,26 ₽</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__slide">
            <div class="hero__info-list">
              <div class="hero__info">
                <span class="title14--bold">Выгода</span>
                <h2 class="h2">2 954,68 ₽</h2>
              </div>

              <div class="hero__info">
                <h2 class="h2">35%</h2>
                <span class="title14--bold">Маржинальность</span>
              </div>
            </div>
            <div class="price-card">
              <div class="price-card__image">
                <img src="./images/brake-disk.png" alt="" />
              </div>

              <h4 class="price-card__title">
                Тормозные диски Land Cruiser Prado
              </h4>

              <div class="price-card__item">
                <span class="title14">Опт</span>
                <span class="h4">5 371,58 ₽</span>
              </div>

              <div class="price-card__item">
                <span class="title14">Рекомендуемая цена</span>
                <span class="h4">8 326,26 ₽</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-nav">
      <div class="prev"></div>
      <div class="pagination"></div>
      <div class="next"></div>
    </div>
  </div>
</div>
