<div class="section section--brand" hidden>
  <div class="section__header">
    <h2 class="section__title">Автомобильные шины INVOVIC</h2>
    <span class="section__header-tag">Официальный дистрибьютор</span>
  </div>

  <div class="section__wrapper section__wrapper--flex">
    <div class="section__left section__left--grid">
      <div class="info-cards info-cards--flex">
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Инновационность</h5>
            <p class="text14 info-card__subtitle">
              Сепаратор из полиэтилена повышает надежность аккумулятора на 30%
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
            <p class="text14 info-card__subtitle">
              Обеспечивает уверенный запуск двигателя даже в холодную погоду.
              Прошел проверку в России.
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Инновационность</h5>
            <p class="text14 info-card__subtitle">
              Сепаратор из полиэтилена повышает надежность аккумулятора на 30%
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
            <p class="text14 info-card__subtitle">
              Обеспечивает уверенный запуск двигателя даже в холодную погоду.
              Прошел проверку в России.
            </p>
          </div>
        </div>
      </div>
      <div class="section__wrapper section__wrapper--flex">
        <div class="brand-info">
          <div class="brand-info__wrapper">
            <div class="brand-info__image">
              <img src="./images/invovic.svg" alt="" />
            </div>
            <div class="brand-info__partners">
              <div class="brand-info__partner">
                <img src="./images/partners/img1.png" alt="" />
              </div>
              <div class="brand-info__partner">
                <img src="./images/partners/img2.png" alt="" />
              </div>
              <div class="brand-info__partner">
                <img src="./images/partners/img3.png" alt="" />
              </div>
              <div class="brand-info__partner">
                <img src="./images/partners/img4.png" alt="" />
              </div>
            </div>
          </div>

          <div class="number-cards__items">
            <div class="number-cards">
              <div class="number-card">
                <span
                  class="number32 number-card__title number-card__title--fix"
                  >13 000 000+</span
                >
                <span class="text14">шин в год</span>
              </div>
              <div class="vr"></div>
              <div class="number-card">
                <span class="number32 number-card__title">160 +</span>
                <span class="text14">стран и регионов</span>
              </div>
            </div>

            <div class="number-cards">
              <div class="number-card">
                <span
                  class="number32 number-card__title number-card__title--fix"
                  >180 000 m2</span
                >
                <span class="text14">площадь завода</span>
              </div>
              <div class="vr"></div>
              <div class="number-card">
                <span class="number32 number-card__title">1000 +</span>
                <span class="text14">сотрудников</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="button button--download" data-action="popup-get-catalog">
        <img src="./images/icons/download.svg" alt="" />Получить оптовый прайс
      </button>
    </div>

    <div class="section__right section__right--brand">
      <div class="background-image background-image--invovic">
        <img src="./images/invovic.svg" alt="" />
      </div>

      <div class="circle-icon circle-icon--invovic">
        <img src="./images/icons/road.svg" alt="" />
      </div>

      <div class="brand-image brand-image--invovic">
        <img src="./images/tires.png" alt="" />
      </div>
    </div>
  </div>
</div>
