<div class="section" hidden>
  <h2 class="section__title">Автомобильные шины INVOVIC</h2>
  <span class="tag">Официальный дистрибьютор</span>

  <div class="section__wrapper">
    <div class="section__left"></div>

    <div class="section__right">
      <div class="section__images">
        <div class="brand__image">
          <img src="./images/invovic.svg" alt="" />
        </div>
        <div class="background__image">
          <img src="./images/tires.png" alt="" />
        </div>
        <div class="circle__icon">
          <img src="./images/icons/road.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
