<div class="section section--brand kbase">
  <div class="section__header">
    <h2 class="section__title">Амортизаторы KBASE</h2>
    <span class="section__header-tag">Официальный дистрибьютор</span>
  </div>
  <div class="section__wrapper section__wrapper--flex">
    <div class="section__left section__left--brand">
      <div class="background-image">
        <img src="./images/kbase--white.svg" alt="" />
      </div>

      <div class="circle-icon circle-icon--kbase">
        <img src="./images/icons/spring.svg" alt="" />
      </div>

      <div class="section__wrapper--grid">
        <div class="number-card number-card--heading">
          <span class="h5">соляной тест</span>
          <span class="number60">300 ч</span>
          <span class="text14"
            >Прошел проверку в нейтральном соляном тумане, доказал отличные
            антикоррозийные свойства.</span
          >
        </div>
        <div class="number-card number-card--heading">
          <span class="h5">испытание на вибрацию</span>
          <span class="number60">5 млн</span>
          <span class="text14">циклов</span>
        </div>
        <button class="button button--download" data-action="popup-get-catalog">
          <img src="./images/icons/download.svg" alt="" />Получить оптовый прайс
        </button>
      </div>

      <div class="brand-image">
        <img src="./images/shock-absorbers.png" alt="" />
      </div>
    </div>

    <div class="expand-collapse" hide-on-desktop>
      <input
        class="expand-collapse__checkbox"
        type="checkbox"
        name=""
        id="kbase"
      />
      <label for="kbase"></label>
    </div>

    <div
      class="section__right section__right--cards"
      data-expand-collapse="kbase"
    >
      <div class="info-card">
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Инновационность</h5>
          <p class="text16 info-card__subtitle">
            Сепаратор из полиэтилена повышает надежность аккумулятора на 30%
          </p>
        </div>
      </div>
      <div class="info-card">
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
          <p class="text16 info-card__subtitle">
            Обеспечивает уверенный запуск двигателя даже в холодную погоду.
            Прошел проверку в России.
          </p>
        </div>
      </div>
      <div class="info-card">
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Экологичность</h5>
          <p class="text16 info-card__subtitle">
            Соответствует международным экологическим стандартам
          </p>
        </div>
      </div>
      <div class="info-card">
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Строгий контроль качества</h5>
          <p class="text16 info-card__subtitle">
            Каждый аккумулятор проходит многоступенчатое тестирование перед
            отправкой
          </p>
        </div>
      </div>

      <div class="number-card number-card--heading number-card--fluid">
        <span class="number32 number-card__title"> &lt; 15%</span>
        <span class="text14"
          >Прошел проверку в нейтральном соляном тумане, доказал отличные
          антикоррозийные свойства.</span
        >
      </div>

      <div class="number-card number-card--heading number-card--fluid">
        <span class="number32 number-card__title">-40°С - 120°С</span>
        <span class="text14"
          >Стабильная работа даже в экстремальных условиях эксплуатации</span
        >
      </div>
    </div>
  </div>
</div>
