<div class="section" hidden>
  <h2 class="section__title">Амортизаторы KBASE</h2>
  <span class="tag">Официальный дистрибьютор</span>
  <div class="section__wrapper">
    <div class="section__left">
      <div class="section__images">
        <div class="brand__image">
          <img src="./images/kbase--white.svg" alt="" />
        </div>
        <div class="background__image">
          <img src="./images/shock-absorbers.png" alt="" />
        </div>
        <div class="circle__icon">
          <img src="./images/icons/spring.svg" alt="" />
        </div>
      </div>

      <div class="number-card">
        <span class="number-card__subtitle">соляной тест</span>
        <span class="number-card__title">300 ч</span>
        <span class="number-card__subtitle"
          >Прошел проверку в нейтральном соляном тумане, доказал отличные
          антикоррозийные свойства.</span
        >
      </div>

      <div class="number-card">
        <span class="number-card__subtitle">испытание на вибрацию</span>
        <span class="number-card__title">5 млн</span>
        <span class="number-card__subtitle">циклов</span>
      </div>
      <a href="" class="button button--download"
        ><img src="./images/icons/download.svg" alt="" />Получить оптовый
        прайс</a
      >
    </div>
    <div class="section__right">
      <div class="info-cards">
        <div class="info-card__row">
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Инновационность</h5>
              <p class="text16 info-card__subtitle">
                Сепаратор из полиэтилена повышает надежность аккумулятора на 30%
              </p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
              <p class="text16 info-card__subtitle">
                Обеспечивает уверенный запуск двигателя даже в холодную погоду.
                Прошел проверку в России.
              </p>
            </div>
          </div>
        </div>
        <div class="info-card__row">
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Экологичность</h5>
              <p class="text16 info-card__subtitle">
                Соответствует международным экологическим стандартам
              </p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Строгий контроль качества</h5>
              <p class="text16 info-card__subtitle">
                Каждый аккумулятор проходит многоступенчатое тестирование перед
                отправкой
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="number-cards">
        <div class="number-card">
          <span class="number-card__title"> &lt; 15%</span>
          <span class="number-card__subtitle"
            >Прошел проверку в нейтральном соляном тумане, доказал отличные
            антикоррозийные свойства.</span
          >
        </div>

        <div class="number-card">
          <span class="number-card__title">-40°С - 120°С</span>
          <span class="number-card__subtitle">циклов</span>
        </div>
      </div>
    </div>
  </div>
</div>
