<div class="section section--brand">
  <div class="section__header">
    <h2 class="section__title">Аккумуляторы KTOP</h2>
    <span class="section__header-tag">Официальный дистрибьютор</span>
  </div>
  <div class="section__wrapper section__wrapper--flex">
    <div class="section__left section__left--brand section__left--padding-top">
      <div class="background-image">
        <img src="./images/ktop--white.svg" alt="" />
      </div>
      <div class="circle-icon">
        <img src="./images/icons/lighting.svg" alt="" />
      </div>

      <div class="section__wrapper--grid">
        <div class="number-card number-card--heading">
          <span class="number60">+30%</span>
          <span class="text16">эффективность разряда</span>
        </div>

        <div class="number-card number-card--heading">
          <span class="number60">+25%</span>
          <span class="text16">повышение виброустойчивости</span>
        </div>
        <button class="button button--download" data-action="popup-get-catalog">
          <img src="./images/icons/download.svg" alt="" />Получить оптовый прайс
        </button>
      </div>
      <div class="brand-image">
        <img src="./images/akum_ktop.png" alt="" />
      </div>
    </div>

    <div class="section__right section__right--brand">
      <div class="info-cards info-cards--brand">
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Инновационность</h5>
            <p class="text14 info-card__subtitle">
              Сепаратор из полиэтилена повышает надежность аккумулятора на 30%
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
            <p class="text14 info-card__subtitle">
              Обеспечивает уверенный запуск двигателя даже в холодную погоду.
              Прошел проверку в России.
            </p>
          </div>
        </div>
      </div>
      <div class="info-cards info-cards--brand">
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Низкий саморазряд</h5>
            <p class="text14 info-card__subtitle">
              Сохраняет заряд дольше во время хранения и простоя авто
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Широкий ассортимент</h5>
            <p class="text14 info-card__subtitle">
              Подходит для легковых авто, внедорожников и коммерческого
              транспорта
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Безопасность и защита</h5>
            <p class="text14 info-card__subtitle">
              Герметичная конструкция и система защиты от утечки и короткого
              замыкания
            </p>
          </div>
        </div>
      </div>
      <div class="info-cards info-cards--brand">
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Экологичность</h5>
            <p class="text14 info-card__subtitle">
              Соответствует международным экологическим стандартам
            </p>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card__content">
            <h5 class="h5 info-card__title">Строгий контроль качества</h5>
            <p class="text14 info-card__subtitle">
              Каждый аккумулятор проходит многоступенчатое тестирование перед
              отправкой
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<hr class="brake--small" />
<div class="section factory section--factory">
  <div class="section__left section__left--factory">
    <div class="factory__image">
      <img src="./images/factory1.png" alt="" />
    </div>
    <div class="factory__image">
      <img src="./images/factory2.png" alt="" />
    </div>
  </div>
  <div class="section__right section__right--factory">
    <div class="factory__info">
      <div class="factory__brand-image">
        <img src="./images/ktop.svg" alt="" />
      </div>

      <div class="number-cards number-cards--factory">
        <div class="number-card">
          <span class="number32 number-card__title">180 000 m<sup>2</sup></span>
          <span class="text14">площадь завода</span>
        </div>
        <div class="vr"></div>
        <div class="number-card">
          <span class="number32 number-card__title">10 млн</span>
          <span class="text14">годовой объем производства и продаж</span>
        </div>
      </div>
    </div>
    <div class="factory__partners-images">
      <div class="factory__partners-image">
        <img src="./images/partners/img1.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img2.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img3.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img4.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img5.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img6.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img7.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img8.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img9.png" alt="" />
      </div>
      <div class="factory__partners-image">
        <img src="./images/partners/img10.png" alt="" />
      </div>
    </div>
  </div>
</div>
