<div class="section" hidden>
  <h2 class="section__title">Аккумуляторы KTOP</h2>
  <span class="tag">Официальный дистрибьютор</span>
  <div class="section__wrapper">
    <div class="section__left">
      <div class="section__images">
        <div class="brand__image">
          <img src="./images/ktop.svg" alt="" />
        </div>
        <div class="background__image">
          <img src="./images/akum_ktop.png" alt="" />
        </div>
        <div class="circle__icon">
          <img src="./images/icons/lighting.svg" alt="" />
        </div>
      </div>

      <div class="number-card">
        <span class="number-card__title">+30%</span>
        <span class="number-card__subtitle">эффективность разряда</span>
      </div>

      <div class="number-card">
        <span class="number-card__title">+25%</span>
        <span class="number-card__subtitle">повышение виброустойчивости</span>
      </div>
      <a href="" class="button button--download"
        ><img src="./images/icons/download.svg" alt="" />Получить оптовый
        прайс</a
      >
    </div>
    <div class="section__right">
      <div class="info-cards">
        <div class="info-card__row">
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Инновационность</h5>
              <p class="text16 info-card__subtitle">
                Сепаратор из полиэтилена повышает надежность аккумулятора на 30%
              </p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
              <p class="text16 info-card__subtitle">
                Обеспечивает уверенный запуск двигателя даже в холодную погоду.
                Прошел проверку в России.
              </p>
            </div>
          </div>
        </div>
        <div class="info-card__row">
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Низкий саморазряд</h5>
              <p class="text16 info-card__subtitle">
                Сохраняет заряд дольше во время хранения и простоя авто
              </p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Широкий ассортимент</h5>
              <p class="text16 info-card__subtitle">
                Подходит для легковых авто, внедорожников и коммерческого
                транспорта
              </p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Безопасность и защита</h5>
              <p class="text16 info-card__subtitle">
                Герметичная конструкция и система защиты от утечки и короткого
                замыкания
              </p>
            </div>
          </div>
        </div>
        <div class="info-card__row">
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Экологичность</h5>
              <p class="text16 info-card__subtitle">
                Соответствует международным экологическим стандартам
              </p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-card__content">
              <h5 class="h5 info-card__title">Строгий контроль качества</h5>
              <p class="text16 info-card__subtitle">
                Каждый аккумулятор проходит многоступенчатое тестирование перед
                отправкой
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="section" hidden>
  <div class="section__left">
    <div class="section__image">
      <img src="./images/factory1.png" alt="" />
    </div>
    <div class="section__image">
      <img src="./images/factory2.png" alt="" />
    </div>
  </div>
  <div class="section__right">
    <div class="section__wrapper">
      <div class="section__image">
        <img src="./images/ktop.svg" alt="" />
      </div>

      <div class="number-cards">
        <div class="number-card">
          <span class="number-card__title">15 000+</span>
          <span class="number-card__subtitle">товаров в наличии</span>
        </div>
        <vr />
        <div class="number-card">
          <span class="number-card__title">100 000+</span>
          <span class="number-card__subtitle"
            >единиц товаров на складе в Москве</span
          >
        </div>
      </div>
    </div>
    <div class="about__images">
      <div class="about__image">
        <img src="./images/about/img1.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img2.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img3.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img4.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img5.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img6.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img7.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img8.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img9.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img10.png" alt="" />
      </div>
    </div>
  </div>
</div>
