<div class="section offer section--offer">
  <div class="section__left section__left--offer">
    <h2 class="section__title">
      Выгодное предложение для СТО, Автоателье, автомагазинов, сервисов,
      таксопарков, автопарков
    </h2>

    <div class="info-cards info-cards--offer">
      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/accuracy.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Точность подбора</h5>
          <p class="text16 info-card__subtitle">
            Подберем запчасти по VIN и оригинальным номерам
          </p>
        </div>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/timer.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Минимизация простоя</h5>
          <p class="text16 info-card__subtitle">
            Отправим экспресс-доставкой в день обращения
          </p>
        </div>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/marginality.svg" alt="" />
        </div>
        <div class="info-card__content">
          <h5 class="h5 info-card__title">Сохраняем маржинальность</h5>
          <p class="text16 info-card__subtitle">
            Цены на наши запчасти не скачут и значительно выгоднее европейских
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section__right">
    <div class="section__image">
      <img src="./images/autoparts.png" alt="" />
    </div>
  </div>
</div>
