<hr class="brake" />

<div class="section">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span class="current-page"
        >Файлы cookies и анализ посещений веб-сайта</span
      >
    </div>
  </div>

  <div class="container page-header">
    <h1 class="page-title text--h1">
      Файлы cookies и анализ посещений веб-сайта
    </h1>
  </div>

  <div class="container contacts">
    <p>
      <strong
        >На веб-сайте kzmall-parts.ru ИП Онай Татьяна Андреевна ИНН
        614045016762</strong
      >
      (далее — Оператор) обрабатывает данные с использованием файлов cookie. Это
      распространённая практика среди большинства веб-сайтов. Файлы cookie
      представляют собой небольшие текстовые файлы, которые передаются в ваш
      браузер посещаемыми вами веб-сайтами.
    </p>
    <p>
      Оператор использует файлы cookie для улучшения качества обслуживания
      пользователей, обеспечения стабильной работы сайта и сбора статистики об
      использовании его функций. Также файлы cookie применяются для:
    </p>
    <ul>
      <li>персонализации контента на сайте;</li>
      <li>удобства и доступности использования сайта;</li>
      <li>
        подсчёта количества посещений страниц сайта и других маркетинговых
        параметров для улучшения качества предоставляемых услуг.
      </li>
    </ul>
    <p>
      Для тех же целей могут использоваться данные, автоматически передаваемые
      нам при использовании веб-сайта с помощью программного обеспечения на
      вашем устройстве, включая IP-адрес, веб-маяки, технические характеристики
      оборудования и программного обеспечения, информацию о браузере, время
      доступа и адрес запрашиваемой страницы. В этом уведомлении под файлами
      cookie подразумеваются все перечисленные данные.
    </p>
    <p>
      Вы можете контролировать файлы cookie и их использование на этом веб-сайте
      через ваш браузер. Большинство браузеров позволяют просматривать, удалять
      и блокировать файлы cookie.
    </p>
    <p>
      <strong
        >Обратите внимание, что блокировка, удаление и другие ограничения файлов
        cookie могут существенно повлиять на возможность использования веб-сайта
        или его функций. Важно! Перед удалением файлов cookie ознакомьтесь с
        инструкцией вашего браузера.</strong
      >
    </p>
    <h2>Типы файлов cookie, используемых Оператором на веб-сайте:</h2>
    <ol>
      <li>
        <strong>Обязательные для работы сайта (технические).</strong> Эти файлы
        обеспечивают работу веб-сайта, применяются в ответ на ваши действия
        (настройка параметров, заполнение форм), выявляют ошибки в работе сайта,
        используются для тестирования новых функций сайта и обеспечения
        безопасности данных. Блокировка технических файлов cookie отменит
        некоторые функции сайта.
      </li>
      <li>
        <strong>Функциональные (аналитические)</strong> файлы cookie помогают
        нам отслеживать источники трафика, подсчитывать статистику посещений
        веб-сайта, изучать действия пользователей и повышать эффективность
        работы сайта. Эти файлы cookie собирают анонимную и обобщённую
        информацию.
      </li>
      <li>
        <strong>Дополнительные (рекламные)</strong> файлы cookie персонализируют
        предложения, которые вы видите на сайте, а также собирают статистику и
        исследуют интересы пользователей.
      </li>
    </ol>
    <p>
      Сбор функциональных аналитических и дополнительных рекламных файлов cookie
      осуществляется через сервис Яндекс.Метрика в соответствии с Условиями
      использования сервиса Яндекс.Метрика https://metrika.yandex.ru/.
    </p>
    <p>
      Оператор запрашивает ваше разрешение на использование файлов cookie во
      время посещения вами веб-сайта. Если вы не хотите, чтобы Оператор
      обрабатывал файлы cookie, вам нужно изменить настройки используемого
      веб-браузера на вашем устройстве. Обратите внимание, что это может
      повлиять на работу веб-сайта в целом или отдельных его функций.
    </p>
  </div>
</div>

<hr class="brake" />
