<hr class="brake" />

<div class="section section--page">
  <h2 class="color--heading">Политика конфиденциальности</h2>
  <h3 class="color--heading">1. Общие положения, стороны, цель документа</h3>

  <p class="text16">
    1.1.Настоящая Политика конфиденциальности и обработки персональных данных
    (далее – «Политика») определяет порядок и условия обработки Индивидуальным
    Предпринимателем Онай Татьяна Андреевна (ИНН 614045016762), действующей по
    законодательству Российской Федерации (далее - «Оператор» либо «Мы»),
    информации о физическом лице или юридическом лице, которая может быть
    получена Оператором от этого физического или юридического лица либо от его
    законного представителя (далее – «Пользователь», «Субъект персональных
    данных» либо «Вы»), при возникновении следующих отношений с Субъектом
    персональных данных:
  </p>
  <br />
  <ul class="text16">
    <li>
      а) при использовании функций сайта https://design-up.ru/, включая все
      домены, поддомены и страницы, их содержимое, а также интернет-сервисы и
      программное обеспечение, предлагаемые Оператором к использованию на этом
      сайте (далее вместе – «Сайт»);
    </li>
    <li>
      б) при осуществлении Оператором прав и обязнностей, установленных
      соглашениями/договорами, заключенными между Оператором и Пользователем;
    </li>
    <li>
      в) при обработке обращений, жалоб, запросов, сообщений, направляемых
      Оператором и Пользователем друг другу.
    </li>
  </ul>
</div>

<hr class="brake" />

<div class="container">
  <div class="breadcrumbs">
    <a href="/">Главная</a>
    <span class="current-page">Согласие на обработку персональных данных</span>
  </div>
</div>

<div class="container page-header">
  <h1 class="page-title text--h1">Согласие на обработку персональных данных</h1>
</div>

<div class="container contacts">
  <p>
    Оставляя на сайте, размещенном по веб-адресу: kzmall-parts.ru (далее —
    Сайт), принадлежащем
    <strong>ИП Онай Татьяна Андреевна ИНН 614045016762</strong>, оператор
    персональных данных (далее — Администрация Сайта), любые из Ваших данных
    (которые отнесены к категории персональных в соответствии с ФЗ «О
    персональных данных» от 27.07.2006 №152-ФЗ), путем заполнения полей любых
    форм на Сайте, Вы автоматически присоединяетесь к настоящему Соглашению,
    приобретаете статус пользователя Сайта (далее — Пользователь Сайта) и
    соглашаетесь со всеми без исключения его условиями.
  </p>
  <p><strong>Пользователь Сайта:</strong></p>
  <ol>
    <li>
      Подтверждает, что все указанные им в формах регистрации на Сайте данные
      принадлежат лично ему, соответствуют действительности, не искажены.
    </li>
    <li>
      Подтверждает и признает, что им внимательно в полном объеме прочитано
      настоящее Соглашение и условия обработки его персональных данных. Текст
      Соглашения и условия обработки персональных данных ему понятны и он с ними
      согласен;
    </li>
    <li>
      Дает согласие на обработку Администрацией Сайта предоставляемых в составе
      информации персональных данных в целях заключения между ним и Сайтом
      настоящего Соглашения, а также его последующего исполнения;
    </li>
    <li>
      Выражает согласие с условиями обработки персональных данных без оговорок и
      ограничений.
    </li>
    <li>
      В соответствии с ФЗ «О персональных данных» от 27.07.2006 №152-ФЗ
      свободно, своей волей и в своем интересе выражает согласие на сбор,
      анализ, обработку, хранение и использование своих персональных данных
      (ФИО, дата рождения, паспортные данные, места пребывания, адрес
      проживания, мобильный телефон, домашний телефон, электронный адрес
      (E-mail), реквизиты банковских карт, прочие данные).
    </li>
  </ol>
  <p>
    Согласие Пользователя Сайта на обработку персональных данных является
    конкретным, информированным и сознательным.
  </p>
  <p>
    Настоящее согласие Пользователя Сайта признается исполненным в простой
    письменной форме.
  </p>
  <p>
    <strong
      >Пользователь Сайта предоставляет Администрации Сайта право осуществлять
      следующие действия (операции) с персональными данными:</strong
    >
  </p>
  <ol>
    <li>сбор и накопление;</li>
    <li>
      хранение в течение установленных нормативными документами сроков хранения
      отчетности, но не менее трех лет, с момента даты прекращения пользования
      услуг Пользователем Сайта;
    </li>
    <li>уточнение (обновление, изменение);</li>
    <li>использование;</li>
    <li>уничтожение;</li>
    <li>обезличивание;</li>
    <li>
      передача по требованию суда, в том числе, третьим лицам, с соблюдением
      мер, обеспечивающих защиту персональных данных от несанкционированного
      доступа.
    </li>
  </ol>
  <p>
    Указанное согласие действует бессрочно с момента предоставления данных и
    может быть отозвано Пользователем Сайта путем подачи заявления Администрации
    Сайта с указанием данных, определенных ст. 14 Федерального закона от
    27.07.2006 N 152-ФЗ «О персональных данных» (ред. от 22.02.2017 г.).
  </p>
  <p>
    Отзыв согласия на обработку персональных данных может быть осуществлен путем
    направления Пользователем соответствующего распоряжения в простой письменной
    форме на адрес электронной почты.
  </p>
  <p>
    Администрация Сайта не несет ответственности за использование (как
    правомерное, так и неправомерное) третьими лицами Информации, размещенной
    Пользователем Сайта на Сайте, включая её воспроизведение и распространение,
    осуществленные всеми возможными способами.
  </p>
  <p>
    Администрация Сайта в любое время имеет право вносить изменения в настоящее
    Соглашение.
  </p>
  <p>
    При внесении изменений в актуальной редакции указывается дата последнего
    обновления. Новая редакция Соглашения вступает в силу с момента ее
    размещения, если иное не предусмотрено новой редакцией Соглашения.
  </p>
  <p>
    К настоящему Соглашению и отношениям между Пользователем Сайта и
    Администрацией Сайта, возникающим в связи с применением Соглашения, подлежит
    применению действующее законодательство Российской Федерации.
  </p>
</div>
