<hr class="brake" />

<div class="section page section--page">
  <h2 class="color--heading">Пользовательское соглашение</h2>
  <h3 class="color--heading">1. Общие положения, стороны, цель документа</h3>

  <p class="text16">
    1.1.Настоящая Политика конфиденциальности и обработки персональных данных
    (далее – «Политика») определяет порядок и условия обработки Индивидуальным
    Предпринимателем Онай Татьяна Андреевна (ИНН 614045016762), действующей по
    законодательству Российской Федерации (далее - «Оператор» либо «Мы»),
    информации о физическом лице или юридическом лице, которая может быть
    получена Оператором от этого физического или юридического лица либо от его
    законного представителя (далее – «Пользователь», «Субъект персональных
    данных» либо «Вы»), при возникновении следующих отношений с Субъектом
    персональных данных:
  </p>
  <br />
  <ul class="text16">
    <li>
      а) при использовании функций сайта https://design-up.ru/, включая все
      домены, поддомены и страницы, их содержимое, а также интернет-сервисы и
      программное обеспечение, предлагаемые Оператором к использованию на этом
      сайте (далее вместе – «Сайт»);
    </li>
    <li>
      б) при осуществлении Оператором прав и обязнностей, установленных
      соглашениями/договорами, заключенными между Оператором и Пользователем;
    </li>
    <li>
      в) при обработке обращений, жалоб, запросов, сообщений, направляемых
      Оператором и Пользователем друг другу.
    </li>
  </ul>
</div>

<hr class="brake" />
