<!-- hero -->
<%- include('../templates/hero') %>
<!--  -->
<hr />
<!--  -->
<div class="section">
  <div class="info-card">
    <div class="info-card__icon">
      <img src="./images/icons/quality.svg" alt="" />
    </div>

    <h5 class="h5 info-card__title">Экономия до 40%</h5>
    <p class="text info-card__subtitle">
      Наши аналоги значительно дешевле оригинальных деталей, но соответствуют европейским стандартам качества
    </p>
  </div>

  <div class="info-card">
    <div class="info-card__icon">
      <img src="./images/icons/delivery.svg" alt="" />
    </div>

    <h5 class="h5 info-card__title">Быстрая доставка</h5>
    <p class="text info-card__subtitle">
      90% позиций — на складе в Москве. Отгрузка в день обращения. Доставим 1-2 дня по Москве и МО. 3-5 дней по России.
      Никаких 1–3 месяцев ожидания!
    </p>
  </div>

  <div class="info-card">
    <div class="info-card__icon">
      <img src="./images/icons/checklist.svg" alt="" />
    </div>

    <h5 class="h5 info-card__title">Легальность и прозрачность</h5>
    <p class="text info-card__subtitle">
      Полный пакет документов: сертификаты соответствия ТР ТС, подтверждение происхождения товара. Работаем в рамках
      федерального закона от 28.06.2022 № 213-ФЗ о параллельном импорте
    </p>
  </div>

  <div class="info-card">
    <div class="info-card__icon">
      <img src="./images/icons/guarantee.svg" alt="" />
    </div>

    <h5 class="h5 info-card__title">Гарантия качества</h5>
    <p class="text info-card__subtitle">
      Даём гарантию 6 мес. на все товары. Возврат и обмен в течение 14 дней согласно закону. Если брак, меняем без
      вопросов.
    </p>
  </div>
</div>
<!--  -->
<div class="section">
  <h2 class="section__title">Решаем проблему дефицита запчастей для европейских, японских и ушедших с рынка брендов</h2>

  <div class="brands">
    <div class="brand">
      <img src="" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/audi.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/chevrolet.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/hyundai.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/kia.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/lexus.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/nissan.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/toyota.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/bmw.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/honda.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/jeep.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/land-rover.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/mercedes.svg" alt="" />
    </div>
    <div class="brand">
      <img src="./images/brands/renault.svg" alt="" />
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__wrapper"></div>
  <h2 class="section__title">
    Выгодное предложение для СТО, Автоателье, автомагазинов, сервисов , таксопарков, автопарков
  </h2>

  <div class="info-cards">
    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/accuracy.svg" alt="" />
      </div>
      <h5 class="h5 info-card__title">Точность подбора</h5>
      <p class="text info-card__subtitle">Подберем запчасти по VIN и оригинальным номерам</p>
    </div>

    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/timer.svg" alt="" />
      </div>
      <h5 class="h5 info-card__title">Минимизация простоя</h5>
      <p class="text info-card__subtitle">Отправим экспресс-доставкой в день обращения</p>
    </div>

    <div class="info-card">
      <div class="info-card__icon">
        <img src="./images/icons/marginality.svg" alt="" />
      </div>
      <h5 class="h5 info-card__title">Сохраняем маржинальность</h5>
      <p class="text info-card__subtitle">Цены на наши запчасти не скачут и значительно выгоднее европейских</p>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__left">
    <h2>
      <span>Аналоги запчастей от Kzmall </span>
      <span class="accent">со скидкой до 40% и доставкой по РФ от 48 часов</span>
    </h2>
  </div>

  <div class="section__right">
    <div class="number-card">
      <span class="number-card__title">15 000+</span>
      <span class="number-card__subtitle">товаров в наличии</span>
    </div>
    <vr />
    <div class="number-card">
      <span class="number-card__title">100 000+</span>
      <span class="number-card__subtitle">единиц товаров на складе в Москве</span>
    </div>
  </div>
</div>
<!--  -->
<div class="catalog">
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog01.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand catalog__item-brand--accent">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog02.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand catalog__item-brand--accent">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog03.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand catalog__item-brand--accent">KBASE</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog04.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KZWON</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog05.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KZWON</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog06.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand catalog__item-brand--accent">KLONG</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog07.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog08.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog09.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog10.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog11.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
  <div class="catalog__item">
    <div class="catalog__item-top">
      <img src="./images/catalog/catalog12.png" alt="" />
      <div class="catalog__item-wrapper">
        <span class="catalog__item-brand">KTOP</span>
        <span class="catalog__item-tag">Официальный дистрибьютор</span>
      </div>
    </div>
    <h4 class="catalog__item-chapter">Автосвет</h4>
  </div>
</div>
<!--  -->
<div class="section">
  <h4 class="section__title">Получите бесплатную консультацию менеджера, каталог товаров и оптовые прайсы</h4>

  <form action="" class="form">
    <div class="form__wrapper">
      <input type="text" name="name" />
      <input type="text" name="phone" />
      <input type="text" name="company" />
      <select name="" id="" value="0">
        <option value="" value="0">Какой товар вас интересует</option>
        <option value="" value="1">Салонные фильтры</option>
        <option value="" value="2">Тормозные диски</option>
        <option value="" value="3">Шины</option>
        <option value="" value="4">Щетки стеклоочистителя</option>
        <option value="" value="5">Задние тормозные колодки</option>
      </select>
    </div>

    <div class="form__wrapper">
      <div class="checkbox-confirm">
        <input type="checkbox" name="" id="form-confirm" />
        <label for="form-confirm"
          ><span
            >Даю согласие на обработку моих персональных данных в соответствии с условиями документов, с которыми я
            ознакомлен: <a href="">Политика конфиденциальности</a>, <a href="">Пользовательское соглашение</a></span
          ></label
        >
      </div>

      <button class="button button--download">
        <img src="./images/icons/download.svg" alt="" />Получить оптовый прайс
      </button>
    </div>
  </form>

  <div class="image">
    <img src="./images/catalog.png" alt="" />
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__wrapper">
    <span class="section__title">Посмотрите какую прибыль вы теряете каждый месяц</span>
    <span class="section__subtitle">За пример взяты тормозные колодки (передние) для Haval Jolion 1.5T</span>
  </div>

  <div class="box">
    <h5 class="box__title">Стоимость</h5>
    <div class="box__prices">
      <div class="box__price">
        <h4 class="box__price-summa">1 399 ₽</h4>
        <span class="box__price-text">Опт</span>
      </div>
      <div class="box__price">
        <h4 class="box__price-summa">1 745 ₽</h4>
        <span class="box__price-text">Рекомендуемая цена</span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="range">
      <p class="rang__title">Укажите среднее количество услуг по смене тормозных колодок в месяц</p>
      <input type="range" name="range1" id="" min="0" max="11" step="1" />
      <div class="range__scale">
        <span class="range__scale-item">10</span>
        <span class="range__scale-item">20</span>
        <span class="range__scale-item">30</span>
        <span class="range__scale-item">40</span>
        <span class="range__scale-item">50</span>
        <span class="range__scale-item">60</span>
        <span class="range__scale-item">80</span>
        <span class="range__scale-item">90</span>
        <span class="range__scale-item">100</span>
        <span class="range__scale-item">150</span>
        <span class="range__scale-item">200</span>
        <span class="range__scale-item">250</span>
      </div>
    </div>

    <div class="range">
      <p class="rang__title">Укажите количества месяцев для расчета</p>
      <input type="range" name="range2" id="" min="0" max="11" step="1" />
      <div class="range__scale">
        <span class="range__scale-item">1</span>
        <span class="range__scale-item">2</span>
        <span class="range__scale-item">3</span>
        <span class="range__scale-item">4</span>
        <span class="range__scale-item">5</span>
        <span class="range__scale-item">6</span>
        <span class="range__scale-item">8</span>
        <span class="range__scale-item">9</span>
        <span class="range__scale-item">10</span>
        <span class="range__scale-item">11</span>
        <span class="range__scale-item">12</span>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box__icon">
      <img src="./images/icons/coins.svg" alt="" />
    </div>

    <div class="box__wrapper">
      <div class="box__title">Ваша упущенная выгода</div>
      <div class="box__summa">34 600 ₽</div>
    </div>
  </div>

  <div class="box">
    <h5 class="box__title">Получите оптовый прайс на запчасти прямо сейчас</h5>
    <a class="button button--white" href=""><img src="./images/icon/download--white.svg" alt="" /> Получить прайс</a>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="video">
    <div class="video__content">
      <button class="video__button-play"></button>
      <video poster="/images/video-preview.png">
        <source src="./video/video.mp4" type="video/mp4" />
        <source src="./video/video.webm" type="video/webm" />
        Ваш браузер не поддерживает видео.
      </video>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__left">
    <h2 class="section__title">О компании</h2>
    <div class="about">
      <div class="about__logo">
        <img src="./images/logo.svg" alt="" />
      </div>

      <div class="about__info">
        <div class="about__text">
          <div class="about__year">2015</div>
          <p>
            Международная корпорация KZMall успешно развивается на мировом рынке автозапчастей. И предлагает российскому
            потребителю надежные решения для автомобилей.
          </p>
        </div>

        <div class="about__images">
          <div class="about__image">
            <img src="./images/about/img1.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img2.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img3.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img4.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img5.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img6.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img7.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img8.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img9.png" alt="" />
          </div>
          <div class="about__image">
            <img src="./images/about/img10.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section__right">
    <div class="info-cards">
      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/ok.svg" alt="" />
        </div>
        <h5 class="h5 info-card__title">Надежность</h5>
        <p class="text info-card__subtitle">
          Строгий контроль качества на всех этапах производства для стабильной работы и безопасности
        </p>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/durability.svg" alt="" />
        </div>
        <h5 class="h5 info-card__title">Долговечность</h5>
        <p class="text info-card__subtitle">
          Премиальные материалы и передовые технологии обеспечивают длительный срок службы.
        </p>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/snowflake.svg" alt="" />
        </div>
        <h5 class="h5 info-card__title">Проверено</h5>
        <p class="text info-card__subtitle">Продукция протестирована в суровых климатических условиях России и СНГ</p>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/globus.svg" alt="" />
        </div>
        <h5 class="h5 info-card__title">Глобальные поставки</h5>
        <p class="text info-card__subtitle">
          Продукция экспортируется в 160+ стран и получила высокие оценки партнеров
        </p>
      </div>

      <div class="info-card">
        <div class="info-card__icon">
          <img src="./images/icons/waranty.svg" alt="" />
        </div>
        <h5 class="h5 info-card__title">Гарантированное качество</h5>
        <p class="text info-card__subtitle">Международные сертификаты: подтверждают соответствие мировым стандартам</p>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__left">
    <h2 class="section__title">Прямые поставки с завода, а не контрафакт</h2>
    <div class="box">
      <div class="box__image">
        <img src="./images/icons/target.svg" alt="" />
        <h5 class="box__title">Надежный партнер для Вашего бизнеса</h5>
      </div>
    </div>
  </div>
  <div class="section__right">
    <p>
      На рынке автозапчастей доминирует проблема контрафакта: по оценкам экспертов, его доля достигает 30–40%.
      Статистика среди СТО выглядит так:
    </p>
    <ul>
      <li>54% сталкивались с подделками моторных масел;</li>
      <li>35% — с фальшивыми фильтрами;</li>
      <li>33% — с контрафактными свечами зажигания.</li>
    </ul>
    <p>
      При этом подавляющее число случаев брака связано именно с контрафактной продукцией, а не с товарами официальных
      брендов.
    </p>
    <p>
      Парадокс ситуации в том, что именно страх перед подделками сдерживает спрос на качественные китайские аналоги
      запчастей. Между тем чаще всего фальсифицируют продукцию известных европейских и японских марок — таких как Bosch,
      NGK и Denso.
    </p>

    <p>
      Наша компания является официальным дистрибьютором международной корпорации KZMALL AUTO PARTS, которая выпускает
      автозапчасти под брендами: INVOVIC, KBASE, KLONG, KTOP, KZWON, Q-CLEANN P+
    </p>

    <p>
      В ассортименте выпускаемой продукции представлены запчасти для большинства известных марок автомобилей таких как,:
      Audi, BMW, Mercedes-Benz, Lexus, Toyota, Chrysler, Kia, Hyundai, Skoda, Jeep, Nissan, Chrysler, Chevrolet, Chery,
      Volkswagen, Mitsubishi, Seat, Suzuki, Haval, Geely, JAC, Jeep, Dodge, Smart, Cadillac, Lifan, Suzuki, Emgrand,
      Genesis и другие.
    </p>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__left">
    <div class="certificate__image">
      <img src="./images/certificate.png" alt="" />
    </div>
  </div>
  <div class="section__right">
    <div class="section__wrapper">
      <h4 class="section__title">Мы являемся официальным представителем корпорации KZMall в РФ</h4>
      <p>
        У нас полный пакет документов на каждую партию: сертификат соответствия ТР ТС, документы о происхождении товара.
        Это не “серый” товар, а легально ввезённая продукция. Вы можете предоставить эти документы любому проверяющему
        органу и своему клиенту как подтверждение подлинности
      </p>
    </div>
    <div class="box">
      <h5 class="box__title">Мы даём гарантию подлинности и готовы заменить брак</h5>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <h2 class="section__title">Аккумуляторы KTOP</h2>
  <span class="tag">Официальный дистрибьютор</span>
  <div class="section__wrapper">
    <div class="section__left">
      <div class="section__images">
        <div class="brand__image">
          <img src="./images/ktop.svg" alt="" />
        </div>
        <div class="background__image">
          <img src="./images/akum_ktop.png" alt="" />
        </div>
        <div class="circle__icon">
          <img src="./images/icons/lighting.svg" alt="" />
        </div>
      </div>

      <div class="number-card">
        <span class="number-card__title">+30%</span>
        <span class="number-card__subtitle">эффективность разряда</span>
      </div>

      <div class="number-card">
        <span class="number-card__title">+25%</span>
        <span class="number-card__subtitle">повышение виброустойчивости</span>
      </div>
      <a href="" class="button button--download"
        ><img src="./images/icons/download.svg" alt="" />Получить оптовый прайс</a
      >
    </div>
    <div class="section__right">
      <div class="info-cards">
        <div class="info-card__row">
          <div class="info-card">
            <h5 class="h5 info-card__title">Инновационность</h5>
            <p class="text info-card__subtitle">Сепаратор из полиэтилена повышает надежность аккумулятора на 30%</p>
          </div>
          <div class="info-card">
            <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
            <p class="text info-card__subtitle">
              Обеспечивает уверенный запуск двигателя даже в холодную погоду. Прошел проверку в России.
            </p>
          </div>
        </div>
        <div class="info-card__row">
          <div class="info-card">
            <h5 class="h5 info-card__title">Низкий саморазряд</h5>
            <p class="text info-card__subtitle">Сохраняет заряд дольше во время хранения и простоя авто</p>
          </div>
          <div class="info-card">
            <h5 class="h5 info-card__title">Широкий ассортимент</h5>
            <p class="text info-card__subtitle">Подходит для легковых авто, внедорожников и коммерческого транспорта</p>
          </div>
          <div class="info-card">
            <h5 class="h5 info-card__title">Безопасность и защита</h5>
            <p class="text info-card__subtitle">
              Герметичная конструкция и система защиты от утечки и короткого замыкания
            </p>
          </div>
        </div>
        <div class="info-card__row">
          <div class="info-card">
            <h5 class="h5 info-card__title">Экологичность</h5>
            <p class="text info-card__subtitle">Соответствует международным экологическим стандартам</p>
          </div>
          <div class="info-card">
            <h5 class="h5 info-card__title">Строгий контроль качества</h5>
            <p class="text info-card__subtitle">
              Каждый аккумулятор проходит многоступенчатое тестирование перед отправкой
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <div class="section__left">
    <div class="section__image">
      <img src="./images/factory1.png" alt="" />
    </div>
    <div class="section__image">
      <img src="./images/factory2.png" alt="" />
    </div>
  </div>
  <div class="section__right">
    <div class="section__wrapper">
      <div class="section__image">
        <img src="./images/ktop.svg" alt="" />
      </div>

      <div class="number-cards">
        <div class="number-card">
          <span class="number-card__title">15 000+</span>
          <span class="number-card__subtitle">товаров в наличии</span>
        </div>
        <vr />
        <div class="number-card">
          <span class="number-card__title">100 000+</span>
          <span class="number-card__subtitle">единиц товаров на складе в Москве</span>
        </div>
      </div>
    </div>
    <div class="about__images">
      <div class="about__image">
        <img src="./images/about/img1.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img2.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img3.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img4.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img5.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img6.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img7.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img8.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img9.png" alt="" />
      </div>
      <div class="about__image">
        <img src="./images/about/img10.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <h2 class="section__title">Автомобильные шины INVOVIC</h2>
  <span class="tag">Официальный дистрибьютор</span>

  <div class="section__wrapper">
    <div class="section__left"></div>
    <div class="section__right">
      <div class="section__images">
        <div class="brand__image">
          <img src="./images/invovic.svg" alt="" />
        </div>
        <div class="background__image">
          <img src="./images/tires.png" alt="" />
        </div>
        <div class="circle__icon">
          <img src="./images/icons/road.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <h2 class="section__title">Амортизаторы KBASE</h2>
  <span class="tag">Официальный дистрибьютор</span>
  <div class="section__wrapper">
    <div class="section__left">
      <div class="section__images">
        <div class="brand__image">
          <img src="./images/kbase--white.svg" alt="" />
        </div>
        <div class="background__image">
          <img src="./images/shock-absorbers.png" alt="" />
        </div>
        <div class="circle__icon">
          <img src="./images/icons/spring.svg" alt="" />
        </div>
      </div>

      <div class="number-card">
        <span class="number-card__subtitle">соляной тест</span>
        <span class="number-card__title">300 ч</span>
        <span class="number-card__subtitle"
          >Прошел проверку в нейтральном соляном тумане, доказал отличные антикоррозийные свойства.</span
        >
      </div>

      <div class="number-card">
        <span class="number-card__subtitle">испытание на вибрацию</span>
        <span class="number-card__title">5 млн</span>
        <span class="number-card__subtitle">циклов</span>
      </div>
      <a href="" class="button button--download"
        ><img src="./images/icons/download.svg" alt="" />Получить оптовый прайс</a
      >
    </div>
    <div class="section__right">
      <div class="info-cards">
        <div class="info-card__row">
          <div class="info-card">
            <h5 class="h5 info-card__title">Инновационность</h5>
            <p class="text info-card__subtitle">Сепаратор из полиэтилена повышает надежность аккумулятора на 30%</p>
          </div>
          <div class="info-card">
            <h5 class="h5 info-card__title">Мощный пусковой ток</h5>
            <p class="text info-card__subtitle">
              Обеспечивает уверенный запуск двигателя даже в холодную погоду. Прошел проверку в России.
            </p>
          </div>
        </div>
        <div class="info-card__row">
          <div class="info-card">
            <h5 class="h5 info-card__title">Экологичность</h5>
            <p class="text info-card__subtitle">Соответствует международным экологическим стандартам</p>
          </div>
          <div class="info-card">
            <h5 class="h5 info-card__title">Строгий контроль качества</h5>
            <p class="text info-card__subtitle">
              Каждый аккумулятор проходит многоступенчатое тестирование перед отправкой
            </p>
          </div>
        </div>
      </div>

      <div class="number-cards">
        <div class="number-card">
          <span class="number-card__title"> &lt; 15%</span>
          <span class="number-card__subtitle"
            >Прошел проверку в нейтральном соляном тумане, доказал отличные антикоррозийные свойства.</span
          >
        </div>

        <div class="number-card">
          <span class="number-card__title">-40°С - 120°С</span>
          <span class="number-card__subtitle">циклов</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="section">
  <h2 class="section__title">Вопросы, которые обычно задают</h2>
  <ul class="faq__items">
    <li class="faq__item faq__item--active">
      <span class="faq__title">Китайские запчасти — это подделка, они быстро ломаются</span>
      <div class="faq__content">
        <p class="text">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем сертификаты качества (ISO, ТР ТС) и гарантию
          возврата/обмена. Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall — ресурс составил 30
          000 км без нареканий.
        </p>
      </div>
    </li>
    <li class="faq__item">
      <span class="faq__title">Мы опасаемся, что китайские аналоги могут привести к повторным обращениям клиентов</span>
      <div class="faq__content">
        <p class="text">
          Мы являемся официальным дистрибьютором завода. Мы предоставляем сертификаты качества (ISO, ТР ТС) и гарантию
          возврата/обмена. Например, СТО «Авто-Сервис» сэкономила 35% на тормозных дисках Kzmall — ресурс составил 30
          000 км без нареканий.
        </p>
      </div>
    </li>
  </ul>
</div>
