<hr class="brake" />

<div class="section">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span class="current-page">Спасибо за заявку</span>
    </div>
  </div>

  <div class="container contacts">
    <div class="thanks">
      <div class="thanks__image">
        <img src="../images/icons/thanks.svg" alt="" />
      </div>
      <h2>Спасибо за заявку!</h2>
      <p class="title16">
        Мы получили ваше обращение и в ближайшее время наш менеджер свяжется с
        вами и отправит необходимые материалы
      </p>
    </div>
  </div>
</div>

<hr class="brake" />
