<div class="section supplies section--supplies" hidden>
  <div class="section__left section__left--supplies">
    <h2 class="section__title">Прямые поставки с завода, а не контрафакт</h2>
    <div class="red-box red-box--pattern">
      <div class="red-box__image">
        <img src="./images/icons/target.svg" alt="" />
      </div>
      <h5 class="red-box__title">Надежный партнер для Вашего бизнеса</h5>
    </div>
  </div>
  <div class="section__right section__right--supplies text16">
    <p>
      На рынке автозапчастей доминирует проблема контрафакта: по оценкам
      экспертов, его доля достигает 30–40%. Статистика среди СТО выглядит так:
    </p>
    <ul>
      <li>54% сталкивались с подделками моторных масел;</li>
      <li>35% — с фальшивыми фильтрами;</li>
      <li>33% — с контрафактными свечами зажигания.</li>
    </ul>
    <p>
      При этом подавляющее число случаев брака связано именно с контрафактной
      продукцией, а не с товарами официальных брендов.
    </p>
    <p>
      Парадокс ситуации в том, что именно страх перед подделками сдерживает
      спрос на качественные китайские аналоги запчастей. Между тем чаще всего
      фальсифицируют продукцию известных европейских и японских марок — таких
      как Bosch, NGK и Denso.
    </p>

    <p class="text--important">
      Наша компания является официальным дистрибьютором международной корпорации
      KZMALL AUTO PARTS, которая выпускает автозапчасти под брендами: INVOVIC,
      KBASE, KLONG, KTOP, KZWON, Q-CLEANN P+
    </p>

    <p>
      В ассортименте выпускаемой продукции представлены запчасти для большинства
      известных марок автомобилей таких как,: Audi, BMW, Mercedes-Benz, Lexus,
      Toyota, Chrysler, Kia, Hyundai, Skoda, Jeep, Nissan, Chrysler, Chevrolet,
      Chery, Volkswagen, Mitsubishi, Seat, Suzuki, Haval, Geely, JAC, Jeep,
      Dodge, Smart, Cadillac, Lifan, Suzuki, Emgrand, Genesis и другие.
    </p>
  </div>
</div>
