<div class="section section--video" hidden>
  <div class="video">
    <div class="video__content">
      <button class="video__button-play"></button>
      <video poster="/images/video-preview.png">
        <source src="./video/video.mp4" type="video/mp4" />
        <source src="./video/video.webm" type="video/webm" />
        Ваш браузер не поддерживает видео.
      </video>
    </div>
  </div>
</div>
