:root {
  --heading: #24272C;
  --white: #ffffff;

  --accent: #E52330;
  --accent2: #C8131F;

  --text: #696665;

  --gray--light: #F6F6F6;

  --line: #EDEDED;

  --background: #F7F7F8;

  --icon: #B6B6B6;

  --blue: #1787F9;
}