:root {
    --pad120: 120px;
    --pad92: 92px;
    --pad60: 60px;
    --pad40: 40px;
    --pad32: 32px;
    --pad28: 28px;
    --pad20: 20px;
    --pad16: 16px;
    --pad12: 12px;

    --gap80: 80px;
    --gap60: 60px;
    --gap40: 40px;
    --gap32: 32px;
    --gap20: 20px;
    --gap16: 16px;
    --gap12: 12px;
    --gap8: 8px;
}

h1,
.h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.4px;
}

h2,
.h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3,
.h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

h4,
.h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h5,
.h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h6,
.h6 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%
}

.text14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.text16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.title14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title14--bold {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.number--60 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}