:root {
    --pad120: 120px;
    --pad92: 92px;
    --pad60: 60px;
    --pad40: 40px;
    --pad32: 32px;
    --pad28: 28px;
    --pad20: 20px;
    --pad16: 16px;
    --pad12: 12px;

    --gap80: 80px;
    --gap60: 60px;
    --gap40: 40px;
    --gap32: 32px;
    --gap20: 20px;
    --gap16: 16px;
    --gap12: 12px;
    --gap8: 8px;

}

@media (max-width: 1439px) {
    :root {
        --pad120: 40px;
        --pad92: 20px;
        --pad60: 40px;
        --pad40: 12px;
        --pad32: 20px;
        --pad28: 20px;
        --pad20: 10px;
        --pad16: 16px;
        --pad12: 12px;

        --gap80: 12px;
        --gap60: 24px;
        --gap40: 24px;
        --gap32: 12px;
        --gap20: 20px;
        --gap16: 16px;
        --gap12: 12px;
        --gap8: 8px;
    }
}

@media (max-width: 1439px) {
    [hide-on-mobile] {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    [hide-on-desktop] {
        display: none !important;
    }
}

h1,
.h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.4px;
}

@media (max-width: 1439px) {

    h1,
    .h1 {
        font-size: 24px;
        line-height: normal;
    }
}

h2,
.h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1439px) {

    h2,
    .h2 {
        font-size: 18px;
    }
}

h3,
.h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

@media (max-width: 1439px) {

    h3,
    .h3 {
        font-size: 14px;
    }
}


h4,
.h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1439px) {

    h4,
    .h4 {
        font-size: 14px;
    }
}

h5,
.h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1439px) {

    h5,
    .h5 {
        font-size: 16px;
    }
}

h6,
.h6 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1439px) {}

.text12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%
}

@media (max-width: 1439px) {}

.text14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

@media (max-width: 1439px) {
    .text14 {
        font-size: 12px;
    }
}


.text16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

@media (max-width: 1439px) {
    .text16 {
        font-size: 12px;
    }
}

.title14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1439px) {}

.title14--bold {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1439px) {
    .title14--bold {
        font-size: 12px;
    }
}

.title16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

@media (max-width: 1439px) {}

.number60 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

@media (max-width: 1439px) {
    .number60 {
        font-size: 32px;
    }
}

.number32 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1439px) {}

.color--heading {
    color: var(--heading);
}