:root {
  --font-size: 14px;
  --desktop-width: 1920px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
  background-color: var(--background);

  font-family: 'Geometria';
  font-weight: 300;
  color: var(--text);
  font-size: var(--font-size);
  scrollbar-gutter: stable;
}

@media (max-width: 991px) {
  :root {
    --font-size: 14px;
  }
}

.body--overflow {
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  all: unset;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0px 92px;
}

[hidden] {
  display: none !important;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}