.about {
    display: flex;
    justify-content: space-between;
    gap: var(--gap20);
}

.about__logo {
    width: 192px;
    height: 75px;
    aspect-ratio: 64 / 25;
}

@media (max-width: 1439px) {
    .about__logo {
        width: 120px;
        height: 47px;
        aspect-ratio: 120/47;
    }
}


.about__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.about__info {
    display: grid;
    justify-content: space-between;
    gap: var(--gap20);
    max-width: 549px;
}

.about__text {
    display: grid;
    gap: var(--gap20);
}

.about__year {
    display: flex;
    gap: var(--gap12);
}

@media (max-width: 1439px) {
    .about__year {
        display: grid;
    }
}

.about__year-number {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    color: var(--heading);
}

@media (max-width: 1439px) {
    .about__year-number {
        font-size: 32px;
    }
}

@media (max-width: 1439px) {
    .about__year-text {
        font-size: 14px;
    }
}

.about__images {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--gap20);
    column-gap: var(--gap40);
}

.about__image {
    width: 80px;
    height: 36px;
}

.about__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}