.brands {
    display: grid;
    gap: var(--gap60);
    padding-left: var(--pad92);
    overflow: hidden;
}

.brands-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap60);

    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    white-space: nowrap;

    height: 60px;
}

@media (max-width: 1439px) {
    .brands-items {
        height: 40px;
    }
}

.brand-item {
    height: 100%;
    display: grid;
    place-content: center;
    flex-shrink: 0;
}

.brand-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1439px) {
    .brand-item img {
        height: 40px;
    }
}