.header {
    background-color: var(--heading);
    padding-inline: var(--pad92);
    padding-block: var(--pad20);
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    max-width: 1920px;
    width: 100%;
}

.body--overflow .header {
    z-index: 1;
}

@media (max-width: 1365px) {
    .header {
        padding-inline: 12px;
        position: relative;
        z-index: 1;
    }
}

.header__logo {
    color: white;
    width: 205px;
    height: 79px;
    display: flex;
    align-items: center;
    gap: var(--gap20);
}

@media (max-width: 1365px) {
    .header__logo {
        width: 95px;
        height: 40px;
    }
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.header__logo-title {
    flex-shrink: 0;
}

@media (max-width: 800px) {
    .header__logo-title {
        display: none;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap20);
}

@media (max-width: 1439px) {
    .header__wrapper {
        gap: 12px;
    }
}


.header__phones {
    display: flex;
    align-items: center;
    gap: var(--gap20);
}

.header .phone {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
}

@media (max-width: 1799px) {
    .header .phone:first-child {
        display: none;
    }
}

@media (max-width: 1365px) {
    .header .phone {
        color: white;
        font-size: 12px;
    }
}

.header__socials {
    display: flex;
    align-items: center;
    gap: var(--gap8);
}