<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper.min.css" />
    <link rel="stylesheet" href="./css/bundle.css" />
  </head>
  <body class="">
    <!-- header -->
    <%- include('../templates/header') %>
    <!-- main -->
    <%- include('../templates/part-main') %>
    <!-- footer -->
    <%- include('../templates/footer') %>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/imask.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
